body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;

    color: #ef4a75; /* Changed color */
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
  }
  
  .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  }
  
  .btn:active {
    transform: translateY(-3px);
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
  }
  
  .btn:hover::after {
    background-color: #ef4a75; /* Changed color */
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
  }
  